Schema_xml/activity_schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="activity">
  <xs:complexType>
    <xs:sequence>
        <xs:element name="userName" type="xs:string"/>
        <xs:element name="websiteName" type="xs:string"/>
        <xs:element name="activityTypeCode" type="xs:integer"/>
        <xs:element name="loggedInTime" type="xs:date"/>
        <xs:element name="number_of_views" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
